<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_MyService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/GettingStarted/MyService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_MyService"
                contract="ServiceReference1.MyService" name="WSHttpBinding_MyService">
                <identity>
                    <userPrincipalName value="AzureAD\RoyWijaya" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>